<!-- flir_ax8_simple_driver launch file -->
<launch>

  <arg name="flir_camera_topic"      default="flir_ax8"/>

  <node pkg="flir_ax8_simple_driver" type="flir_web_scraping_driver.py" name="flir_ax8_simple_driver" output="screen">
    <param name="flir_camera_frame"  value="flir_ax8_link"/>
    <param name="flir_camera_ip"     value="192.168.1.154"/>   <!--169.254.64.123--> 
    <param name="flir_camera_topic"  value="$(arg flir_camera_topic)"/>
  </node>

 <!--publish compressed image-->
 <node pkg="image_transport" type="republish" name="flir_image_compress" args="raw in:=$(arg flir_camera_topic) compressed out:=$(arg flir_camera_topic)"/>

</launch>
